spring-ws-15-samples/webapp/ws/helloworld/HelloMessage.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://demo.sample/hello/schema"
        targetNamespace="http://demo.sample/hello/schema">
    <element name="HelloRequest">
        <complexType>
            <sequence>
                <element name="message" type="string" />
            </sequence>
        </complexType>
    </element>
    <element name="HelloResponse">
        <complexType>
            <sequence>
                <element name="message" type="string" />
            </sequence>
        </complexType>
    </element>
</schema>
